<h3> View Item Details</h3>
<a style="margin-left: 1150px" routerLink="/items"><button class="btn btn-success pull-right" >Back to List</button></a>
<br><br>
<div>
    <div>
        <label> <b> Item Name: </b></label> {{item.itemName}}
    </div>
    <br>
    <div>
        <label> <b> Item Category: </b></label> {{item.itemCategory}}
    </div>
    <br>
    <div>
        <label> <b> Item Cost: </b></label> {{item.itemCost}}
    </div>
    <br>
    <div>
        <label> <b> Item Selling Price: </b></label> {{item.itemSellingPrice}}
    </div>
    <br>
    <div>
        <label> <b> Item Quantity: </b></label> {{item.itemQuantity}}
    </div>
</div>

