<div class="col-md-6 offset-md-3">
  <h3> Update Seller</h3>
  <a style="margin-left: 545px" routerLink="/sellers"><button class="btn btn-success pull-right" >Back to List</button></a>
  <form (ngSubmit) = "onSubmit()">

    <div class = "form-group">
      <label>Seller Name</label>
      <input type="text" class="form-control" id="sellerName"
             [(ngModel)] = "seller.sellerName" name="sellerName">
    </div>
    <br>
    <div class = "form-group">
      <label>Email Address</label>
      <input type="email" class="form-control" id="sellerEmail"
             [(ngModel)] = "seller.sellerEmail" name="sellerEmail">
    </div>
    <br>
    <div class = "form-group">
      <label>Mobile Number</label>
      <input type="tel" class="form-control" id="sellerMobile"
             [(ngModel)] = "seller.sellerMobile" name="sellerMobile">
    </div>
    <br>
    <div class = "form-group">
      <label>Password</label>
      <input type="password" class="form-control" id="sellerPassword"
             [(ngModel)] = "seller.sellerPassword" name="sellerPassword">
    </div>
    <br>

    <button class = "btn btn-success" type="submit"> Submit</button>
  </form>
</div>
