<h2 style="align-content: center"> Seller List </h2>
<a style="margin-left: 1135px" routerLink="/add-seller"><button class="btn btn-success pull-right" >Add a new Seller +</button></a>
<table class = "table table-striped">
  <thead>
  <tr>
    <th> Seller Name </th>
    <th> Seller Email Address </th>
    <th> Seller Mobile Number </th>
    <th> Seller Password </th>
    <th> View Item</th>
    <th> Update Item</th>
    <th> Delete Item</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let seller of sellers">
    <td> {{seller.sellerName!}} </td>
    <td>{{seller.sellerEmail!}}</td>
    <td>{{seller.sellerMobile!}}</td>
    <td>{{seller.sellerPassword!}}</td>
    <td>
      <button (click) = "sellerDetails(seller.id)" class= "btn btn-info" style="margin-left: 10px; background-color: #669999"> View </button>
    </td>
    <td>
      <button (click) = "updateSeller(seller.id)" class= "btn btn-info"> Update </button>
    </td>
    <td>
      <button (click) = "deleteSeller(seller.id)" class= "btn btn-danger" style="margin-left: 10px"> Delete </button>
    </td>
  </tr>
  </tbody>
</table>
