<h3> View Buyer Details</h3>
<a style="margin-left: 1150px" routerLink="/sellers"><button class="btn btn-success pull-right" >Back to List</button></a>
<br><br>
<div>
  <div>
    <label> <b> Buyer Name: </b></label> {{buyer.buyerName}}
  </div>
  <br>
  <div>
    <label> <b> Buyer Email Address: </b></label> {{buyer.buyerEmail}}
  </div>
  <br>
  <div>
    <label> <b> Buyer Mobile Number: </b></label> {{buyer.buyerMobile}}
  </div>
  <br>
  <div>
    <label> <b> Buyer Home Address: </b></label> {{buyer.buyerAddress}}
  </div>
</div>

