<h1 class="text-center">Shopping Store Application</h1>
<div class = "container">
<h2 style="align-content: center"> Buyer List </h2>
<table class = "table table-striped">
  <thead>
  <tr>
    <th> Buyer Name </th>
    <th> Buyer Email Address </th>
    <th> Buyer Mobile Number </th>
    <th> Buyer Home Address </th>
    <th> View Buyer</th>
    <th> Update Buyer</th>
    <th> Delete Buyer                        </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let buyer of buyers">
    <td> {{buyer.buyerName!}} </td>
    <td>{{buyer.buyerEmail!}}</td>
    <td>{{buyer.buyerMobile!}}</td>
    <td>{{buyer.buyerAddress!}}</td>
    <td>
      <button (click) = "buyerDetails(buyer.id)" class= "btn btn-info" style="margin-left: 10px; background-color: #669999"> View </button>
    </td>
    <td>
      <button (click) = "updateBuyer(buyer.id)" class= "btn btn-info"> Update </button>
    </td>
    <td>
      <button (click) = "deleteBuyer(buyer.id)" class= "btn btn-danger" style="margin-left: 10px"> Delete </button>
    </td>
  </tr>
  </tbody>
</table>
</div>
